<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Version\Version.wxi ?>
  <?define UpgradeCode="0ca33dc6-cbf7-4576-802a-69334216231d"?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="InstallerMsi.cab" EmbedCab="yes" />
    <Icon Id="CodePlex.ico" SourceFile="..\Documentation\CodePlex.ico" />
    <Icon Id="dotNetInstaller.ico" SourceFile="..\dotNetInstaller\res\dotNetInstaller.ico" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Property="OLDERVERSIONFOUND" Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMaximum="no" />
      <UpgradeVersion Property="NEWERVERSIONFOUND" OnlyDetect="yes" Minimum="$(var.ProductVersion)" IncludeMinimum="no" />
    </Upgrade>
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="dotNetInstaller.ico" />
    <Property Id="DotNetInstallerCodePlexUri" Value="http://dotnetinstaller.codeplex.com/" />
    <Property Id="INSTALLEDPRODUCTVERSION">
      <RegistrySearch Id="GetInstalledProductVersion" Type="raw" Root="HKLM" Key="SOFTWARE\CodePlex\dotNetInstaller" Name="InstalledVersion" />
    </Property>
    <Condition Message="!(loc.MessageNewerVersionDetected)">
      NOT NEWERVERSIONFOUND OR Installed
    </Condition>
    <WixVariable Id="WixUILicenseRtf" Value="..\Documentation\EULA.rtf" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="dotNetInstaller">
          <Directory Id="bin" Name="bin">
            <Component Id="InstallerRegistry" Guid="5FBAE1CD-CBE6-406c-AB80-DD5675CED1BC">
              <RegistryKey Root="HKLM" Key="Software\CodePlex\dotNetInstaller" Action="create">
                <RegistryValue Name="InstalledVersion" Value="$(var.ProductVersion)" Type="string" />
                <RegistryValue Name="InstallDir" Value="[INSTALLLOCATION]" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>
            <Component Id="InstallerLib" Guid="5D5B5920-D2DF-48e0-BE89-DD1A77E705BB">
              <File Id="InstallerLib.dll" Source="..\InstallerLib\bin\$(var.Configuration)\InstallerLib.dll" />
              <File Id="CabLib.dll" Source="..\ThirdParty\CabLib\Win32\$(var.Configuration)\CabLib.dll" />
              <File Id="Vestris.ResourceLib.dll" Source="..\packages\Vestris.ResourceLib.1.6.422\lib\Vestris.ResourceLib.dll" />
            </Component>
            <Component Id="InstallerEditor" Guid="B28C748A-5834-48f6-AC9D-6976B33EC922">
              <File Id="InstallerEditor.exe" Source="..\InstallerEditor\bin\$(var.Configuration)\InstallerEditor.exe" />
              <File Id="SourceGrid2.dll" Source="..\InstallerEditor\References\SourceGrid2.dll" />
              <File Id="SourceLibrary.dll" Source="..\InstallerEditor\References\SourceLibrary.dll" />
            </Component>
            <Component Id="InstallerLinker" Guid="{F06F3A32-DAB8-4e31-B35C-6F4FB9EBC36E}">
              <File Id="InstallerLinker.exe" Source="..\InstallerLinker\bin\$(var.Configuration)\InstallerLinker.exe" />
            </Component>
            <Component Id="dotNetInstaller" Guid="E28F4986-00F0-489f-99A3-99745FEC243D">
              <File Id="dotNetInstaller.exe" Source="..\dotNetInstaller\$(var.Configuration)\dotNetInstaller.exe" />
              <File Id="dotNetInstaller.pdb" Source="..\dotNetInstaller\$(var.Configuration)\dotNetInstaller.pdb" />
            </Component>
            <Component Id="htmlInstaller" Guid="4B2C6C2B-7A9E-49fe-A63B-BB2EACE39BFD">
              <File Id="htmlInstaller.exe" Source="..\htmlInstaller\$(var.Configuration)\htmlInstaller.exe" />
              <File Id="htmlInstaller.pdb" Source="..\htmlInstaller\$(var.Configuration)\htmlInstaller.pdb" />
            </Component>
            <Directory Id="bin_x64" Name="x64">
              <Component Id="CabLib.dll" Guid="565C3213-3489-4303-9677-23D65DFE5026">
                <File Id="CabLib.dll_x64" Source="..\ThirdParty\CabLib\x64\$(var.Configuration)\CabLib.dll" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="doc" Name="doc">
            <Component Id="Documentation" Guid="00A1CB0D-BCE4-43a4-8AAC-7563F90B3E7C">
              <File Id="dotNetInstaller.chm" Source="..\Documentation\$(var.Configuration)\dotNetInstaller.chm" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="ProgMenu">
        <Directory Id="DotNetInstallerProgramMenuFolder" Name="dotNetInstaller">
          <Component Id="DotNetInstallerMenuShortcuts" Guid="79506F34-C3E5-4ee7-8F9A-C437931270F4">
            <RegistryKey Root="HKCU" Key="Software\CodePlex\dotNetInstaller" Action="create">
              <RegistryValue Name="InstallDir" Value="[INSTALLLOCATION]" Type="string" KeyPath="yes" />
            </RegistryKey>
            <Shortcut Id="InstallerEditor.exe.shortcut" Target="[INSTALLLOCATION]\bin\InstallerEditor.exe" Name="Installer Editor" />
            <Shortcut Id="dotNetInstaller.chm.shortcut" Target="[INSTALLLOCATION]\doc\dotNetInstaller.chm" Name="Users Guide" />
            <Shortcut Id="CodePlex.lnk.shortcut" Target="[DotNetInstallerCodePlexUri]" Name="Official Website" Icon="CodePlex.ico" />
            <RemoveFolder Id="RemoveShorcutFolder" Directory="DotNetInstallerProgramMenuFolder" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DotNetInstallerFeature" Title="dotNetInstaller" Level="1">
      <ComponentRef Id="InstallerRegistry" />
      <ComponentRef Id="InstallerLib" />
      <ComponentRef Id="InstallerEditor" />
      <ComponentRef Id="InstallerLinker" />
      <ComponentRef Id="dotNetInstaller" />
      <ComponentRef Id="htmlInstaller" />
      <ComponentRef Id="CabLib.dll" />
      <ComponentRef Id="Documentation" />
      <ComponentRef Id="DotNetInstallerMenuShortcuts" />
      <Feature Id="SamplesFeature" Title="Samples" Level="1">
        <ComponentRef Id="InstallCheckOperatorsSample" />
        <ComponentGroupRef Id="StandaloneSetupSample" />
        <ComponentGroupRef Id="PackagedSetupSample" />
        <ComponentRef Id="InstallCheckProductSample" />
        <ComponentRef Id="CustomInputSetupSample" />
        <ComponentRef Id="ReferenceSetupSample" />
        <ComponentRef Id="OsFiltersSetupSample" />
        <ComponentRef Id="PAFilterSetupSample" />
        <ComponentRef Id="OptionalComponentsSetupSample" />
        <ComponentRef Id="MultilingualSetupSample" />
        <ComponentRef Id="LicenseAgreementSample" />
        <ComponentRef Id="PatchSetupSample" />
        <ComponentRef Id="DownloadSetupSample" />
        <ComponentRef Id="ExeSetupSample" />
      </Feature>
    </Feature>
    <UIRef Id="dotNetInstallerUI_InstallDir" />
    <InstallExecuteSequence>
      <FindRelatedProducts Before="AppSearch" />
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <?include UI.wxi ?>
</Wix>
