BODY, P, TD 
{
	 font-family: Verdana, Arial, Helvetica, sans-serif; 
	 font-size: 10pt 
}

H1,H2,H3,H4,H5
{
	 color: Navy; font-weight: bold; 
}
H1
{
	font-size: 15pt;
	text-align: center;
}
H2
{
	 font-size: 13pt; 
}
H3
{
	 font-size: 11pt; 
}
H4
{
	 font-size: 10pt; color: black;
}
PRE
{
	border-right: black thin solid;
	border-top: black thin solid;
	border-left: black thin solid;
	border-bottom: black thin solid;
	font-family: "Courier New" , Courier, mono;
	background-color: silver;
}
CODE
{
	color: firebrick;
	font-family: "Courier New" , Courier, mono;
}
