Version/GlobalAssemblyInfo.cs
Version/Version.h
Version/Version.wxi
bin
obj
Debug*
Release*
dni*.log
Documentation/Content/Generated
assembly
*.ncb
*.suo
*tmp_*_Win32.vcproj
*.vcproj.*.user
/Documentation/Dni.shfbproj_*
*.aps
StyleCop.Cache
*.user
*.cache
*.db
*.ipch
*.log
*.obj
*.tlog
*.idb
*.pdb
*.ipch
.vs
packages
/temp
/UpgradeLog.htm
launchSettings.json
/TestResults
