#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

IDI_HTMLINSTALLER			ICON         "htmlInstaller.ico"

#include <Version/Version.h>
#include <Version/Version.rc>

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

STRINGTABLE  
BEGIN
   IDC_HTMLINSTALLER   "HTMLINSTALLER"
END

HTMLAYOUTDLL DLL "..\\ThirdParty\\HTMLayoutSDK\\bin\\htmlayout.dll"

RES_BANNER CUSTOM "html\\banner.bmp"

INDEX_HTML HTM "html\\index.html"
DOWNLOAD_HTML HTM "html\\download.html"
STYLE_CSS HTM "html\\style.css"
SHIELD_GIF HTM "html\\shield.gif"

#endif
